htmt, body{
    padding:0;
    margin:0 10%;
    font-family: 'Lato', sans-serif;
}

#div-thanh-menu {
    background: #45484a;
    color: white;
    padding: 10px;
}

.span-menu-item {
    padding: 10px;
    font-size: 12px;
}

.span-menu-item:hover {
    background: #565758;
    cursor: pointer;
}

#div-slider {
    margin-top: 10px;
}

#div-slider:hover {
    opacity: 75%;
    cursor: pointer;
}

.div-intro {
    width: 48%;
    float: left;
    position: relative;
}

.div-intro-right {
    float:left;
    margin-left: 4%;
}

.img-intro-items {
    width: 100%;
}

.div-intro-items-left-1,
.div-intro-items-left-2 {
    width: 48%;
    float: left;
}

.div-intro-items-left-2{
    margin-left: 4%;
}

.div-intro-items-left-3{
    margin-top: 46%;
}

.div-intro-items-right-2{
    margin-top: 3%;
}

.img-intro-items:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.div-product-container {
    margin-top: 10px;
    display: inline-block;
}

.div-product-container h1 {
    text-align: center;
}

.div-product-items {
    width: 24%;
    float: left;
    margin-left: 1.2%;
}

.div-product-items button:hover {
    opacity: 75%;
    cursor: pointer;
}

.div-product-items-first {
    margin-left: 0;
}

.div-product-items h2 {
    font-weight: bold;
    margin: 5px 0;
}

.div-product-items p {
    margin: 5px 0;
}

.div-product-items button {
    background: #e33131;
    border-radius: 5px;
    border-style: none;
    padding: 8px 20px;
    color: wheat;
}

.div-product-items img {
    width: 100%;
}

.div-banner-container {
    margin-top: 20px;
    display: inline-block;
}

.div-services-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    display: inline-block;
}

.div-services-items {
    width: 32%;
    text-align: center;
    float:left
}

.div-services-items-2 {
    margin: 0 2%
}

.div-services-items img {
    width: 50px;
}

.div-services-items h4 {
    margin: 0;
}

.div-services-items p {
    margin-top: 5px;
    font-size: 12px;
}

.div-footer-container {
    color: white;
    text-align: center;
    background: black;
    padding: 10px 0;
    font-size: 12px;
    margin-bottom: 20px;
}

.div-footer-container p,
.div-footer-container h2 {
    margin: 5px;
}